
.range-block{
    margin: 32px 64px 8px 64px;
    display: flex;
    justify-content: space-between;
}

.detail-block{
    color: white;
}

.progress-bar{
    margin: 0px 64px;
}

.rate-block{
    color: white;
}

.bar{
    width: 100%;
    height: 8px;
    border-radius: 32px;
    background-color: whitesmoke;
}

.ra{
    background-color: rgb(61, 152, 202);
    height: 100%;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

@media screen and (max-width:576px) and (min-width:300px) {
    .range-block{
        margin: 32px 16px 8px 16px;
        display: flex;
        justify-content: space-between;
    }

    .progress-bar{
        margin: 0px 32px;
    }
}