.project-container{
    margin: 64px 0px;
}

.project-heading{
    margin: 32px 0px;
    text-align: center;
}

.card-body{
    /* border: 1px solid black; */
    margin: 16px 0px;
    border-radius: 12px;
    /* box-shadow: 1px 2px 10px rgb(113, 111, 111); */
    box-shadow: 1px 2px 10px rgb(87, 162, 243);
}

.card-content{
    padding: 12px;
}

.card-image-container{
    height: 180px;
    width: 100%;
    padding: 12px;
}

.card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-button{
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 0px 32px;
}