@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Manrope";
    src: url("../../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format('truetype');
}

.accordium-width{
    width: 80vw;
}

.left-accor{
    height: 200px;
    width: 300px;
    background-color: yellow;
}

.project-container{
    margin: 64px 0px;
}

.project-heading span{
    font-family: "Raleway";
    font-weight: 500;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:768px) and (min-width:576px) {
    .exp-text-block {
        margin: 16px 0px;
        padding: 32px;
    }
}