/* h3, h5 ,p {
    color: white;
} */

.footer{
    background-color: black;
    /* height: 500px; */
    /* display: flex; */
    /* align-items: center; */

}

.image{
    width: 100%;
    height: 80px;
    background-color: green;
}

.prof-text{
    color: white;
}

.header{
    color: white;
}

.icon-img{
    height: 24px;
    width: 24px;
}

.icon-container{
    width: fit-content;
}

.icon-text{
    width: fit-content;
}  

.profile-container{
    padding: 0px 16px;
}

.icon-container{
    display: inline-block;
}

.icon-text{
    display: inline-block;

}

.icon-text{
    color: white;
}

.detail-container{
    margin: 16px 0px;
}

.img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}